<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>421599985162-3gjeqs9c5ufu3okal5ov3i2dac0mg9ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421599985162-3gjeqs9c5ufu3okal5ov3i2dac0mg9ri</string>
	<key>GCM_SENDER_ID</key>
	<string>421599985162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Charles.Fitnessbarz</string>
	<key>PROJECT_ID</key>
	<string>fitnessbarz-e6ca0</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessbarz-e6ca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:421599985162:ios:469fc4612656b011</string>
	<key>DATABASE_URL</key>
	<string>https://fitnessbarz-e6ca0.firebaseio.com</string>
</dict>
</plist>